<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.jakebasile.android.hearingsaver"
	android:versionCode="1"
	android:versionName="1.0"
	xmlns:android="http://schemas.android.com/apk/res/android">
	<application
		android:icon="@drawable/launcher_icon"
		android:label="@string/app_name"
		android:theme="@android:style/Theme.Light">
		<activity
			android:name="SetupActivity">
			<intent-filter>
				<action
					android:name="android.intent.action.MAIN"/>
				<category
					android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<service
			android:name="RegistrationService"></service>
		<receiver
			android:name="BootReceiver">
			<intent-filter>
				<action
					android:name="android.intent.action.BOOT_COMPLETED"></action>
			</intent-filter>
		</receiver>
		<receiver
			android:name="UnplugReceiver"></receiver>
	</application>
	<uses-sdk
		android:minSdkVersion="6"/>
	<uses-permission
		android:name="android.permission.MODIFY_AUDIO_SETTINGS"></uses-permission>
	<uses-permission
		android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
</manifest>